name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

permissions: read-all

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans sources
    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check ${{ matrix.checks }}

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build rv
        run: bin/build

      - name: Upload rv binary
        uses: actions/upload-artifact@v5
        with:
          name: rv-binary
          path: target/release/rv

  lint:
    name: Lint (${{ matrix.os }})
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-latest
          - os: windows
            runs-on: windows-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Run linters (Unix)
        if: matrix.os == 'linux'
        run: ./bin/lint

      - name: Run linters (Windows)
        if: matrix.os == 'windows'
        run: ./win/lint.ps1

  run-tests:
    name: Run tests
    needs: lint
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - macos-15-intel # mac-x86
          - macos-latest # mac-arm
          - ubuntu-latest # linux-x86
          - ubuntu-24.04-arm # linux-arm
          - windows-latest # win-x86
          - windows-11-arm # win-arm

    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install additional shells
        if: startsWith(matrix.runs-on, 'ubuntu')
        run: sudo apt-get update && sudo apt-get install -y zsh fish

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build tests
        shell: bash
        run: ./bin/test --no-run

      - name: Run tests
        shell: bash
        run: ./bin/test

      - name: Run Windows integration tests
        if: ${{ startsWith(matrix.runs-on, 'windows') }}
        run: ./win/test-integration.ps1

      - name: Run Unix integration tests
        if: ${{ ! startsWith(matrix.runs-on, 'windows') }}
        run: ./bin/test-integration

  smoke-test:
    name: ${{ matrix.project }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - diaspora
          - discourse
          - fastlane
          # - gitlab  # Disabled until https://gitlab.com/gitlab-org/gitlab/-/issues/522903 is resolved
          - homebrew
          - huginn
          - llhttp-ffi
          - lobsters
          - local-gemspec
          - mastodon
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Download rv binary
        uses: actions/download-artifact@v5
        with:
          name: rv-binary
          path: ~/bin

      - name: Add rv to PATH
        run: chmod +x ~/bin/rv && echo "$HOME/bin" >> $GITHUB_PATH

      - name: rv clean-install for ${{ matrix.project }}
        run: bin/smoke-tests/${{ matrix.project }}
